<p-messages [(value)]="msgs" severity="success"></p-messages>  
<div *ngIf="!loading" class="container" style="margin-top: 15px">
    <div class="row">
        <div class="col-md-3">
            <p-button label="Back" (onClick)="backClicked()"></p-button>
        </div>
        <div class="col-md-6"></div>
        <div class="col-md-3">
            <h5 *ngIf="!editModeOn">Edit mode off</h5>
            <h5 *ngIf="editModeOn">Edit mode on</h5>
            <p-inputSwitch [(ngModel)]="editModeOn"></p-inputSwitch>
        </div>
    </div>
    <div class="row" style="margin-top: 10px">
        <div class="col-md-6">
            <div>
                <h5>EmployeeId</h5>
                <input type="text" pInputText [(ngModel)]="employee.employeeId" [disabled]="true"/>
            </div>
            <div>
                <h5>FirstName</h5>
                <input type="text" pInputText [(ngModel)]="employee.firstName" [disabled]="!editModeOn"/>
                <p-message *ngIf="!employee.firstName" severity="error"></p-message>
            </div>
            <div>
                <h5>LastName</h5>
                <input type="text" pInputText [(ngModel)]="employee.lastName" [disabled]="!editModeOn"/>
                <p-message *ngIf="!employee.lastName" severity="error"></p-message>
            </div>
            <div>
                <h5>MiddleName</h5>
                <input type="text" pInputText [(ngModel)]="employee.middleName" [disabled]="!editModeOn"/>
            </div>
            <div>
                <h5>BirthDate</h5>
                <p-calendar [(ngModel)]="employee.birthDate" [disabled]="!editModeOn" dateFormat="dd.mm.yy"></p-calendar>
            </div>
            <div>
                <h5>Passport</h5>
                <input type="text" pInputText [(ngModel)]="employee.passport" [disabled]="!editModeOn"/>
                <p-message *ngIf="!employee.passport" severity="error"></p-message>
            </div>
        </div>
        <div class="col-md-6">
            <div>
                <h5>PhoneNumber</h5>
                <input type="text" pInputText [(ngModel)]="employee.phoneNumber" [disabled]="!editModeOn"/>
            </div>
            <div>
                <h5>Position</h5>
                <p-dropdown [options]="positions" [(ngModel)]="employee.position" [disabled]="!editModeOn"></p-dropdown>
            </div>
            <div>
                <h5>Salary</h5>
                <p-spinner [(ngModel)]="employee.salary" [disabled]="!editModeOn"></p-spinner>
                <p-message *ngIf="10000>=employee.salary" severity="error"></p-message>
            </div>
            <div>
                <h5>Department</h5>
                <p-dropdown [options]="departments" [(ngModel)]="employee.departmentId" [disabled]="!editModeOn"></p-dropdown>
            </div>
            <div *ngIf="employee.position!='Boss'">
                <h5>Boss</h5>
                <p-dropdown [options]="employeesInBossPosition" [(ngModel)]="employee.bossId" [disabled]="!editModeOn"></p-dropdown>
            </div>
            <div *ngIf="employee.position=='Boss'">
                <h5>Secretary</h5>
                <p-dropdown [options]="employeesInSecretaryPosition" [(ngModel)]="employee.secretaryId" [disabled]="!editModeOn"></p-dropdown>
            </div>
        </div>
    </div>

    <div *ngIf="editModeOn" class="row" style="margin-top: 10px">
        <div class="col-md-8"></div>
        <div class="col-md-4">
            <p-button label="Save" (onClick)="save()" styleClass="ui-button-success"></p-button>
        </div>
    </div>

</div>

<div *ngIf="loading" class="container" >
    <div class="row">
        <h3 style="margin-left: auto; margin-right: auto; margin-top:10%">Loading...</h3>
    </div>
</div>

