<div class="container" style="margin-top: 10px">
    <p-table *ngIf="!needToSelectDepartment" [value]="employees">
        <ng-template pTemplate="header">
            <tr>
                <th *ngFor="let col of cols">
                    {{col.header}}
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-employee>
            <tr>
                <td *ngFor="let col of cols">
                        {{employee[col.field]}}
                </td>
                <td>
                    <a [routerLink]="['/employee',employee.employeeId]">Details</a>
                </td>
            </tr>
        </ng-template>
    </p-table>

    <div *ngIf="needToSelectDepartment" class="row">
        <h3 style="margin-left: auto; margin-right: auto; margin-top:10%">Please select department</h3>
    </div>
</div>