<div class="container" style="margin-left: 5%; margin-right: 5%; max-width: 90%;">
    <div class="row">
        <div class="col-md-9">
            <app-employee-list></app-employee-list>
        </div>
        <div class="col-md-3">
            <app-city-menu></app-city-menu>
        </div>
    </div>
</div>