<div class="container">
    <div class="row">
        <div class="col-md-12" style="margin-top: 10%">
            <p-panelMenu [model]="items" [style]="{'width':'300px'}"></p-panelMenu>
        </div>
    </div>
</div>